.NavigationBar {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

}
.NavigationBar  ul {
    margin: 0;
    padding: 14px;
    background-color: #333333;


    display: flex;
    justify-content: left;
    /*border-bottom: 1px solid black;*/


}
.active {
    color: white;
    border: 2px solid white;
}
.NavItem a:hover, .active  {

}


.NavItem {
    list-style: none;


}
.NavItem a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
